In [1]:
import scipy.stats as stats
import pandas as pd
file_path = "titanic.csv"
df = pd.read_csv(file_path)
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

(None,
    survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
 0         0       3    male  22.0      1      0   7.2500        S  Third
 1         1       1  female  38.0      1      0  71.2833        C  First
 2         1       3  female  26.0      0      0   7.9250        S  Third
 3         1       1  female  35.0      1      0  53.1000        S  First
 4         0       3    male  35.0      0      0   8.0500        S  Third

      who  adult_male deck  embark_town alive  alone
 0    man        True  NaN  Southampton    no  False
 1  woman       False    C    Cherbourg   yes  False
 2  woman       False  NaN  Southampton   yes   True
 3  woman       False    C  Southampton   yes  False
 4    man        True  NaN  Southampton    no   True  )

In [3]:
import scipy.stats as stats
import numpy as np
male_survived = df[df["sex"] == "male"]["survived"]
female_survived = df[df["sex"] == "female"]["survived"]
p_male = male_survived.mean()
p_female = female_survived.mean()
n_male = len(male_survived)
n_female = len(female_survived)
p_combined = (male_survived.sum() + female_survived.sum()) / (n_male + n_female)
se = np.sqrt(p_combined * (1 - p_combined) * (1/n_male + 1/n_female))
z_score = (p_male - p_female) / se
p_value = stats.norm.sf(abs(z_score)) * 2  # Two-tailed test
print(f"Z-score: {z_score}")
print(f"P-value: {p_value}")
if p_value < 0.05:
    print("There is a significant difference in survival rates between male and female passengers.")
else:
    print("There is no significant difference in survival rates between male and female passengers.")

Z-score: -16.218833930670097
P-value: 3.7117477701134797e-59
There is a significant difference in survival rates between male and female passengers.

In [6]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportions_ztest
survived_male = df[df["sex"] == "male"]["survived"].sum()
total_male = df[df["sex"] == "male"]["survived"].count()
survived_female = df[df["sex"] == "female"]["survived"].sum()
total_female = df[df["sex"] == "female"]["survived"].count()
count = np.array([survived_male, survived_female])  
nobs = np.array([total_male, total_female])  
z_stat, p_value = proportions_ztest(count, nobs, alternative='two-sided')
print(f"Z-Statistic: {z_stat:.4f}")
print(f"P-Value: {p_value:.4f}")
if p_value < 0.05:
    print("There is a significant difference in the survival rate between the male and female passengers.")
else:
    print("There is no significant difference in the survival rate between the male and female passengers.")

Z-Statistic: -16.2188
P-Value: 0.0000
There is a significant difference in the survival rate between the male and female passengers.