In [1]:
import pandas as pd
file_path= "toy_dataset.csv"
df=pd.read_csv("toy_dataset.csv")
df.head()

,Customer_ID,Age,Gender,Spending_Score,Product_Rating,Buys_Premium_Product
0,1,56,Female,60,2,No
1,2,46,Female,80,2,No
2,3,32,Female,15,1,No
3,4,60,Female,62,2,No
4,5,25,Female,62,5,No

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Customer_ID           20 non-null     int64
 1   Age                   20 non-null     int64
 2   Gender                20 non-null     object
 3   Spending_Score        20 non-null     int64
 4   Product_Rating        20 non-null     int64
 5   Buys_Premium_Product  20 non-null     object
dtypes: int64(4), object(2)
memory usage: 1.1+ KB